.chatWindow {
  padding: 16px;
  height: 400px;
  overflow-y: auto;
  background-color: #464646;
  border: 1px solid #ccc;
  margin-bottom: 12px;
  border-radius: 8px;
}

.aiMessage {
  background-color: #797979;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 6px;
  text-align: left;
}

.userMessage {
  background-color: #007bff;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 6px;
  text-align: right;
}